
@{
    ViewBag.Title = "Destinations";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_TestLayout.cshtml";

}


<div class="fh5co-section" style="margin-top:100px;">
    <div class="container">
        <div class="row">
            <div class="fh5co text-center" style="MAR">
                <div class="desc ">
                    <h2 style="color:white ;  font-size: 70px;margin-bottom:7rem" ;>ABOUT</h2>
                    <div class="col-md-6 fh5co-news">
                        <div class="row text-center" style="margin:auto; padding:2rem">
                            <ul>
                                <li>
                                    <a href="#">
                                        <h3>Adventure awaits, go find it</h3>
                                        <p>
                                            If you’ve ever wanted to learn how to travel cheaper, experience the local side of a destination, and turn your dream trip into a reality, you are in the right place. This website will give you road tested tips, advice, and suggestions so you can see more for less.

                                            On this website, you will find:

                                            Tested travel tips from years of experience.
                                            Interviews with other travel experts.
                                            Case studies and profiles of other travelers from various backgrounds, genders, colors, and nationalities.
                                            A community of supportive travelers to help encourage you to keep going.
                                            Detailed cost breakdowns to help you better budget for your trip.
                                            Travel tips that can be applied to any destination in the world.
                                            In-depth reporting that lets you know which sites really do help you save money!
                                            Everyday I wake up with one goal in mind: “How can I help other people travel better for less?” The mission here is to produce the most comprehensive than any other website out there.

                                            Unlike many other travel websites, you won’t find sponsored content or paid trips here. Every place, hostel, restaurant, or attraction has been personally visited by me (or one of my guest columnists) and we pay our own way. We sleep in dorms and budget hotels, wait hours for buses, try those roadside street stalls, and test travel passes to see if they really do save money. We do it just like you would – because, like you, we’re real travelers looking to see the world.

                                            Every company recommended is here because they are useful and used in our day-to-day travels – not ones that have paid us for advertising.

                                            This website is about showing you what it’s really like on the road – not some glossy ad for a travel brand.
                                        </p>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 fh5co-testimonial">
                        <img src="~/web/images/About.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive mb20">
                        <img src="~/web/images/About2.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
</div>







