
<div class="testbox" style="margin-top:3rem">
  
    <form method="post">
        <h1>Share Your Comment!</h1>
         
        <input style="margin-bottom:0.5rem" placeholder="ID" type="text" value=" @ViewBag.deger" name="BLOGID" />

        <h4 style="margin-bottom:0">Name<span>*</span></h4>
        <input style="margin-bottom:0.5rem" type="text" name="UserName" />

        <h4 style="margin-bottom:0">Email Address<span>*</span></h4>
        <input type="text" name="Mail" />
        <h4 style="margin-bottom:0">Contact Number<span>*</span></h4>
        <input type="text" />

        <h4 style="margin-bottom:0">Feedback/Enquiry</h4>

        <p class="small">
            Thank you for your time and valuable comments.</small>
            <textarea name="Comment"  rows="5"></textarea>
            <div class="btn-block">
                <button type="submit" href="/">Share </button>
            </div>
    </form>
</div>
        </div>
