
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<body>

    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large"
                onclick="w3_close()">
            Close &times;
        </button>
        <a href="/Admin/Index/" class="w3-bar-item w3-button"> <h5>Blogs</h5></a>
        <a href="/Admin/CommentList/" class="w3-bar-item w3-button"><h5>Comments</h5></a>
        <a href="/Admin/About/" class="w3-bar-item w3-button"><h5>About</h5></a>
        <a href="/Default/Index/" class="w3-bar-item w3-button"><h5>Go to Site</h5></a>
        <a href="/Login/LogOut/" class="w3-bar-item w3-button"><h5>Log Out</h5></a>
    </div>

    <div id="main">

        <div class="w3-teal">
            <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
            <div class="w3-container">
                <h1>ADMIN PANEL</h1>
            </div>
        </div>


        <div class="w3-container">
            @RenderBody()
        </div>

    </div>

    <script>
        function w3_open() {
            document.getElementById("main").style.marginLeft = "25%";
            document.getElementById("mySidebar").style.width = "25%";
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("openNav").style.display = 'none';
        }
        function w3_close() {
            document.getElementById("main").style.marginLeft = "0%";
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("openNav").style.display = "inline-block";
        }
    </script>

</body>
</html>
