
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
    <title> Master login Form Responsive Widget Template  :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content=" Master  Login Form Widget Tab Form,Login Forms,Sign up Forms,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/weblogin Tema/css/style.css" rel="stylesheet" type="text/css" media="all" />

</head>

<body>
    <div class="padding-all">
        <div class="header">
            <h1>Travel Trip Login Form </h1>
        </div>

        <div class="design-w3l">
            <div class="mail-form-agile">
                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                {
                    <input type="text" name="UserName" placeholder="User Name" required="" />
                    <input type="password" name="Password" class="padding" placeholder="Password" required="" />
                    <input type="submit" value="Login">
                }

            </div>
            <div class="clear"> </div>
        </div>


    </div>
</body>
</html>